/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  margin-left: 10%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
  margin: 10%;
}

.button{
  color: #fff;
  border-radius: 10px;
  font-weight: 400;
}

.button.green{
  background-color: rgb(113, 178, 1);
}

/* regole header */
header{
  background-color: rgb(14, 44, 80);
  position: relative;
}

nav{
  width: 80%;
  padding-top: 1%;
  display: inline-block;
  vertical-align: bottom;
}


#logo{
  width: 14%;
  padding-top: 1%;
  padding-right: 5%;
  vertical-align: middle;
}

nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  color: #fff;
}

li:nth-child(5){
  padding-left: 13%;
  margin-right: 2%;
}

.marginright{
  padding-right: 2%;
}

.button.blue{
  background-color: inherit;
  padding: 10px 35px;
  border: 1px solid #fff;
}

#strutturapianofirst{
  padding: 10px 8px;
  margin-left: 5px;
}

.imgheader{
  width: 64%;
  height: 76%;
  background-image: url("../img/background-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;

}

.sezioneheader>h1{
  width: 47%;
  font-size: 70px;
  font-weight: 400;
  color: #fff;
  margin-top: 5%;
  margin-bottom: 2%;
}

.sezioneheader>button{
  padding: 20px 14px;
  margin-bottom: 5%;
}

/* regole corpo centrale */
.title.main{
  background-color: rgb(205, 205, 205);
  /* regole debug */
  height: 100px;
  margin-bottom: 5%;
}

.contentmain{
  float: left;
}

.contentmain.first{
  /* regole debug */
  height: 200px;
  width: 30%;
  background-color: red;
}

.contentmain.central{
  /* regole debug */
  margin-left: 5%;
  margin-right: 5%;
}

.contentmain.second{
  /* regole debug */
  height: 200px;
  width: 40%;
  background-color: red;
}

.contentmain.second.left{
  /* regole debug */
  margin-right: 20%;
}

hr{
  /* regole debug */
  margin:0 3% 5% 3%;
}

footer{
  background-color: rgb(205, 205, 205);
  /* regole debug */
  height: 100px;
}
